[2016-09-30 11:11] aimeric opened #2 "Catchable Fatal Error: Argument 2 passed to Mgilet\NotificationBundle\Manager\NotificationManager::addNotification()"
Hi,

I added an entity`email type array` in the table `Notification`. But when i'm trying to persist i get this error:

[code]

if I delete this line :  `$manager->addNotification($this->getUser(), $notif);`

I will get the following error:

How can i fix this error ?

Thank you

[2016-10-02 13:51] maximilienGilet commented on #2
Hello, sorry for the delay.

There are two causes for your problem:

First, the line
`$notif = $commande['entity'][$entity->getId()] = array(
                    $entity->getEmail());`
seems suspicious.
It looks like you are affecting an array (`$commande['entity'][$entity->getId()]`) to the notification object.
Then, your $notif variable will be an array and not an AbstractNotification. So you wo

[2017-07-01 22:50] bmascioto opened #3 "Real time notification count refreshing"
Hi Maximilien!

I added your bundle to my project and it's working fine! But I'm wondering how can I improve it by updating the notification count without refreshing the whole page.
I have one admin user which sees new notifications when many client users do a specific action. I want to update the notification count automaticaly for the admin when a new notification is created, as a Facebook notif

[2017-07-02 10:08] maximilienGilet commented on #3
Hi, thanks for using my bundle ! I think you should use Ajax requests to update notifications. Several routes are made for it.
To get realtime update, you should consider using Websockets.

I don't have much time to work on the bundle for now, but someday a 2.0 version will come out with much simpler configuration and usage.

Cheers 👍

[2017-08-09 00:05] KhanMaytok opened #6 "Send a notification for all Users"
Is there a methos for send a notification to all users?

Actually, I do:

[code]

But it is slow when I have many users

[2017-08-09 00:11] #6 closed, assigned to nobody

[2017-08-09 07:28] maximilienGilet commented on #6
Yes, I acknowledge it might be slow.
I'm thinking about a version 2 with a ManyToMany relation between Notification and User. This would solve performance issues and save some space in the database.

I currently don't have time to make this new version but pull requests are always welcome

[2017-08-14 16:37] KhanMaytok commented on #6
I solved it when a traditional

$notification = new Notification();

Then manage the users with a foreach and persist and flush aside of the foreach()  (a bulk create)

[2017-08-15 13:08] mburakergenc opened #7 "Method Not Allowed Exception on Safari"
When marking notifications as read I'm getting a method not allowed exception.

Here is the exact error message:
No route found for "GET /notifications/11/mark_as_seen": Method Not Allowed (Allow: POST)

Also, everything works fine on Chrome and Firefox.

[2017-08-15 13:41] maximilienGilet commented on #7
It's totally normal here. The `/{id}/mark_as_seen` route only accept `POST` method. You should call this route only via AJAX request

[2017-10-17 15:01] #7 closed, assigned to nobody

[2017-10-17 18:59] maximilienGilet commented on #2
I know it's been a while, but version 2.0 just got released. It features the ability to add a notification to many user entities, so your issue is now fixed

[2017-10-17 18:59] #2 closed, assigned to maximilienGilet

[2017-11-22 21:18] maximilienGilet opened #14 "Add ability to limit notification fetch"
Add an option in the manager and twig functions to fetch a limited number of notifications

[2017-11-22 21:22] maximilienGilet opened #15 "Symfony 4 compatibiliy"
Ensure the bundle is compatible with Symfony 4

[2017-11-24 10:43] maximilienGilet opened #16 "Add examples in documentation"
Add use case example and integration examples (eg JS dropdowns)

[2017-12-30 01:29] ludriv opened #17 "Add ability to override table names"

[2018-01-11 11:32] nreynis opened #18 "Remove hardcoded table names"
The entities `NotifiableEntity` `NotifiableNotification` and `Notification` have hardcoded table names:

[code]

This is bad practice because as it force Doctrine to bypass any custom naming strategy the user may have implemented and may lead to unsolvable name collision.

You should just use `@ORM\Table` without name property:
[code]
You can also just remove the annotation as you do not have any

[2018-01-11 11:35] nreynis commented on #17
I think this is linked to: https://github.com/maximilienGilet/notification-bundle/issues/18

Doctrine already offer the possibility to override/customize table names with custom naming strategies

[2018-01-11 11:44] nreynis commented on #18
If you are bothered by backward compatibility (because this will be a breaking change).
You may provide a naming strategy of your own which will map your FQCN to your legacy names, and leave the user free to use it or just rename the table using a migration.

[2018-01-11 14:06] nreynis commented on #17
I use this as a temporary patch to restore Doctrine default behaviour

[code]

And in service.yml
[code]

[2018-01-11 16:47] nreynis opened #19 "How can I get my NotifiableEntity id from a NotifiableInterface?"
There seems to be no convenient way to get a `NotificationEntity` id using an instance of a class implementing the `NotificationInterface`.

While it's easy to get the notifications using `mgilet_notification_render(my_entity, { 'display': 'list', 'seen': true })`,
it's really hard to use the routes `notification_mark_as_seen` and `notification_mark_all_as_seen` once you iterate over your notifica

[2018-01-11 17:33] nreynis commented on #19
Nevermind just fount the correct method, it's `notificationManager->getNotifiableEntity($notifiableInterface);`

[2018-01-11 17:33] #19 closed, assigned to nobody

[2018-01-11 17:49] maximilienGilet commented on #17
Yes, this is definitely related to #18 . I need some time to implement a fix for this issue. Maybe you could make a pull request ?

[2018-01-12 13:18] nreynis opened #20 "NotificationList passed to templates should be a list of NotifiableNotification"
In the template `MgiletNotificationBundle::notification_list.html.twig` the `notificationList` is an array of objects with the `seen` property and a Notification instance.
Fetching whole `NotifiableNotification` entities would not cost any performance overhead (you are already joining on the table) and provides several advantages:
* clarity, you know what you fetch
* consistency, you would have th

[2018-01-12 13:41] nreynis opened #21 "notification view make one database request per item"
The view `MgiletNotificationBundle::notifications.html.twig` make one request per row because the method `NotifiableNotificationRepository->findAllForNotifiableIdQb` join on the notification table but do not select the fields.

Which later cause them to be lazy loaded one by one when you acces the proxy in twig `{{ notifiableNotification.notification }}`

[2018-01-12 16:57] nreynis opened #25 "Notifications should be sorted by descending date"
Notifications should be sorted by descending date by default.
Maybe you should provide a parameter in the unlikely case some users may need the oldest first.

[2018-01-12 19:06] nreynis opened #26 "Consider dropping `mgilet_notification_generate_path`"
I don't think this helper has any added value compared to the helper already included in Symfony:
https://symfony.com/doc/current/templating.html#linking-to-pages

This is just one more thing to document and maintain and also one more thing for the user to learn which could be avoided.

[2018-01-26 11:46] #21 closed, assigned to nobody

[2018-01-26 11:55] maximilienGilet commented on #25
Yes, this is an interesting feature !

[2018-01-26 12:01] maximilienGilet commented on #26
It was intended to be an easier way to generate routes for the notifications.

I think it would be a right to drop the helper in a 3.0 version in order to use the "Symfony way" for path generation.

[2018-02-25 11:21] YuManZz opened #28 "Add new field for entity source"
Hello,

I've started to use your bundle and I would to know if it's possible to add a field to know which entities create the notification.

For example :

On facebook each notification have a photo on left that corresponds to the entity who create the notification.

Thanks

[2018-02-25 14:35] maximilienGilet commented on #28
Hi,

You could create an other entity like "NotifiedBy"

[code]

The downside is that you must create another entity on top of what you want to notify. You will have to manually create and persist a new entity each time you will create a notification.

However this solution should work for your needs.

Thank you for using the bundle

[2018-03-25 07:27] llaville commented on #16
Hello Maximillien,

Your bundle seems very cool, and I'd like to use it, but it suffer of a lack of documentation; especially a full example.

I've tried to implement the twig function `{{ mgilet_notification_render(notifiableEntity) }}`
but how did you really used it ? especially if `notifiableEntity` is in a user namespace ?

Please have in mind that a doc should be a highest priority than a new

[2018-03-26 08:09] maximilienGilet commented on #16
Hi Laurent,

The function `{{ mgilet_notification_render(notifiableEntity) }}` will render a simple `ul` `li` list of notifications. You can override the view or use a custom view.

See [here](https://github.com/maximilienGilet/notification-bundle/blob/master/Resources/doc/usage.rst) for more details.

I think more documentation is needed but I currently don't have much time for this.

If you want

[2018-03-26 14:11] llaville commented on #16
Hello Maximilien,

Finally I've tested it yesterday, and I like it. Even if it was difficult to understand how to use it.
Finally nothing is impossible !

When I'll finish my current learn steps, I'll propose a full example (to contribute).
Thanks for your reply

[2018-04-01 14:34] arnoldrch commented on #15
Can't wait for this 😃

[2018-04-11 12:36] LeandroLuccerini commented on #15
This would be very useful for my S4 project! Any update?

[2018-04-12 06:44] maximilienGilet commented on #15
I'm working on a new sf4 project too, I don't know exactly when I will update, but soon..

Le mer. 11 avr. 2018 à 14:36, Leandro <notifications@github.com<mailto:notifications@github.com>> a écrit :

This will be very useful for my S4 project! Any update?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/maximilienGilet/no

[2018-04-15 21:05] maximilienGilet commented on #20
Closed, implemented in #23

Currently in branch dev. Will be merged with version 3.0

Thanks :D

[2018-04-15 21:05] #20 closed, assigned to nobody

[2018-04-15 21:06] #18 closed, assigned to nobody

[2018-04-15 21:06] #17 closed, assigned to nobody

[2018-04-15 21:08] maximilienGilet commented on #15
Currently working on version 3.0.

This will bring Symfony flex/4 support along many other features and requests

Branch dev already have some commits linked. You CAN install the bundle with Symfony flex, but some things may not work and new changes are coming.

Stay tuned 😄

[2018-04-15 21:18] maximilienGilet commented on #16
I made a simple demo repository for sample implementation. It's running Symfony 4 and uses the dev branch of the bundle (working on it to get full compatibility with flex).

https://github.com/maximilienGilet/notification-bundle-demo

[2018-04-16 11:29] llaville commented on #16
Thanks for sharing this Maximilien. I'll have a look later on this demo repo !

[2018-06-05 12:37] mrvnklm commented on #15
Anything about the progress? If its gonna be released soon, I would wait for the release. 👍

[2018-06-08 16:01] nico-dangerous commented on #25
Hi,
In my case, notifications are not strted at all. I saw in symfony profiler that the SQL query has no order.

[code]

This is a real problem because because I have no access to the query.

[2018-06-12 08:45] ghoffdev opened #30 "Override Entity notification"
Is it possible to override notification entity ? i start using your bundle and i want to map a relation between notification entity and my own entity, how can override for exemple the attribute subject in notification entity ?

[2018-06-12 09:12] maximilienGilet commented on #30
Hi @ghoffdev ! Thanks for using my bundle.

Maybe my answer in issue #28 could be a good solution for your problem

Cheers

[2018-06-12 09:13] maximilienGilet commented on #28
Closing the issue due to no response

[2018-06-12 09:13] #28 closed, assigned to maximilienGilet

[2018-06-12 09:35] ghoffdev commented on #30
My issue is not the same, i am asking if i can override the notification entity , like entity user in FOSUserBundle ?

[2018-06-19 12:31] micayael commented on #15
I found a posible bug installing dev branch with symfony 4.1.

`There are no registered paths for namespace "MgiletNotificationBundle"`

### Posible solutions:
1. Invocations to @MgiletNotificationBundle/notifications.html.twig should be changed to @MgiletNotification/notifications.html.twig
2. Add a documentation to register a twig path for MgiletNotificationBundle

[code]

[2018-06-26 20:32] ludoguenet opened #31 "Unable to find template "MgiletNotificationBundle::notification_list.html.twig"
Hello,

There is no way to make the bundle finds out the path to notification_list.html.twig

Have you met this issue before ?

Thanks for the effort :)

[2018-06-28 06:58] maximilienGilet commented on #30
It's currently not possible (version 2.x)

But it's an interesting feature to add in version 3

[2018-06-28 08:08] maximilienGilet commented on #15
@micayael Thanks for testing the new version, I also found the bug.

dev branch updated with fix. It was a bad declaration of twig namespace : f5ba30b

It seems to work well now

[2018-06-28 08:10] maximilienGilet commented on #31
Hi @ludoguenet,

Which version of the bundle are you using ?

Which Symfony version ?

[2018-06-28 08:10] #15 closed, assigned to nobody

[2018-06-28 08:57] maximilienGilet commented on #25
Notifications sorted DESC by default ! (configurable)

See commit 4347fec

[2018-06-28 09:07] #25 closed, assigned to nobody

[2018-06-28 09:23] maximilienGilet commented on #26
See commit 617fbe5

[2018-06-28 10:06] maximilienGilet commented on #15
New version 3.0 out ! Supports symfony flex ! (3.4 / 4.x)

[2018-06-28 10:47] mrvnklm opened #32 "How to define entity in Twig?"
Hey, just tried out your bundle with symfony flex and facing some issues. How to define notifiableEntity in twig template using  mgilet_notification_render()? Just want to see user notifications, but can't pass the entity.

[2018-06-28 11:10] maximilienGilet commented on #32
Hi @mrvnklm !

You can simply pass the `app.user` to the `mgilet_notification_render()` twig method.

It should look like `{{  mgilet_notification_render(app.user) }}`

[2018-06-28 13:07] mrvnklm commented on #32
Oh okay thank you, didn't know entity classes are available like that in twig. Working now. I have three more questions:
1. Is there a way to notify all users at once without creating an array with all users inside?
2. The notification dropdown widget on the readme page, is that available as well? Looks like its some kind of AdminLTE implementation?
3. Is it possible to implement the manager as de

[2018-06-28 13:24] maximilienGilet commented on #32
1. In order to notify all users, the simplest way is to create a notification and adding it to all users :
[code]

2. The template was available in the first version of the bundle. It was removed because it was Bootstrap specific. It was simply a Bootstrap dropdown with notifications inside (with buttons for actions such as "mark as seen")

3. The manager is called `mgilet.notification`. Example o

[2018-06-28 18:57] ludoguenet commented on #31
Hey,

I'm currently using the 2.0 version of the bundle, the Symfony version is 3.4.12

[2018-06-28 19:37] happy-hevia opened #33 "Unknown "mgilet_notification_generate_path" function"
Hello,

I'm trying to use the template _notification.html.twig but i got this error :
`Unknown "mgilet_notification_generate_path" function. Did you mean "mgilet_notification_render", "mgilet_notification_unseen_count"?`
I can't find this function in your code.

Symfony version : 4.1
NotificationBundle : 3.0

Thanks a lot

[2018-06-29 06:57] maximilienGilet commented on #31
If you are using symfony flex I suggest you to update my bundle to the latest version (3.0)

[2018-06-29 07:04] maximilienGilet commented on #33
Hi @happy-hevia, thanks for using my bundle !

The twig function `mgilet_notification_generate_path` has been removed in the version 3 of the bundle. It wasn't really helpful. For more details about this decision, see issue #26

Cheers

[2018-06-29 07:40] maximilienGilet commented on #33
After some investigation I reverted the deletion of the `mgilet_notification_generate_path` function.

With version 3.0.1 it should be working fine

[2018-06-29 07:40] #33 closed, assigned to nobody

[2018-06-29 07:45] maximilienGilet commented on #26
Reverted the deletion of the method in version 3.0.1.

After some tests and real world usage I find it really easier because it hides the bundle inner complexity.

See issue #33

[2018-06-29 07:45] #26 closed, assigned to nobody

[2018-06-29 09:54] happy-hevia commented on #33
It works, thanks a lot !

[2018-06-29 10:56] nreynis commented on #26
Wasn't the real problem in #33 that you dropped the twig helper without removing it from your templates?

Seems to me that this commit wasn't complete and some testing should have prevented the issue.

[2018-06-29 11:38] maximilienGilet commented on #26
@nreynis You are right, I didn't notice the template usage. But in the process of fixing the template I realized the helper was clearly easier to use than the standard way of route generation.

The helper clearly takes away the complexity of the bundle.

[2018-07-05 15:16] rossvernal opened #34 "Issue installing/upgrading"
It might be me, and my lack of PHP experience, but when I'm upgrading from v1.0 (or dev-master as it is in the composer json file), I end up getting this from composer:
[code]
This seems quite specific to this package, which is why I ask - I hope you can help!

[2018-07-06 08:52] maximilienGilet commented on #34
Hi @rossvernal !

Maybe you should remove the files of the bundle in your vendor directory and run `composer install` before clearing cache

Thanks for using the bundle

EDIT : You should consider changing the value in the `composer.json` from `dev-master` to something like `3.*`

[2018-07-06 10:31] rossvernal commented on #34
Thanks @maximilienGilet - there seem to be a lot of links to the old AbstractNotification bits from the older versions. I'll need to unpick the old code and replace it with the new bits. No worries - thanks for the advice and taking the time to respond.

[2018-07-06 10:31] #34 closed, assigned to nobody

[2018-07-10 16:07] arnoldrch opened #35 "How to render "notifications.html.twig"?"
Hi Maximilien,

I'm really struggle to render "notifications.html.twig", can you show me how to do it?

Thanks

[2018-07-11 08:51] maximilienGilet commented on #35
Hi @arnoldrch,

What are you trying to do ? Could you provide more informations ?

[2018-07-11 12:58] arnoldrch commented on #35
Hi Maximilien,

Thank you so much for your reply.

I want to render all notifications for a user in a page. So they can see all the notifications and do some action (mark as seen, delete etc)

Arnold

[2018-07-11 14:56] maximilienGilet commented on #35
This is quite easy with the Twig helper provided by the bundle.

You just have to call the helper in Twig : `{{ mgilet_notification_render(notifiableEntity) }}`

To get notifications for the current user, just replace `notifiableEntity` with `app.user`.

 `{{ mgilet_notification_render(app.user) }}`

Thanks for using my bundle :)

Documentation : https://github.com/maximilienGilet/notification-bun

[2018-07-13 17:23] Cevantime commented on #30
+1 !
Thank you for your work, by the way. @maximilienGilet

[2018-07-25 19:58] maximilienGilet opened #38 "Support non relational databases"
Support databases such as MongoDB...

[2018-08-02 18:03] kklecho opened #42 "Increase Notification::message size to 4000"
There's o need for this field to be so short, it becomes varchar in the db anyways and thus the size is flexible. Hard limit here doesn't allow for html messages that would normally fit in 4000

[2018-08-28 03:36] KCahuete opened #43 "Error generating 'notification_mark_all_as_seen' route on an empty notificationList"
Hi Maximilien,
In the default template (vendor/mgilet/notification-bundle/Resources/views/notifications.html.twig) this error is trigerred when trying to call notificationList|first.notifiableEntity for generating 'notification_mark_all_as_seen' route : Impossible to access an attribute ("notifiableEntity") on a boolean variable ("").

[2018-08-28 03:47] KCahuete opened #44 "Current user control to access routes"
Hi Maximilien,
I saw that everyone can access the routes, and see the notifications, mark them as seen, etc.
Shouldn't there be some control to be sure that the current user is matching the notifiable entity?

[2018-08-28 23:32] KCahuete commented on #43
I added this test to fix it on my custom template:
`{% if notificationList|length > 0 %}{% endif %}`
or
`{% if mgilet_notification_unseen_count(app.user) > 0 %}{% endif %}` in the case that I don't want to display the "mark all seen" form when there is no unseen notification

[2018-08-28 23:45] KCahuete commented on #44
If someone is looking for a way to do this, I manage to make this security check by adding a listener on kernel.controller.

services.yml
[code]

BeforeControllerListener
[code]

[2018-08-29 13:14] maximilienGilet commented on #43
Hi @KCahuete , thanks for the report.

Unfortunately I don't have time to update the bundle yet. As soon as I can I'll update it.

Cheers

[2018-09-06 11:32] maximilienGilet commented on #42
Change made in last commit 👍

[2018-09-06 11:33] #42 closed, assigned to maximilienGilet

[2018-09-06 11:36] maximilienGilet commented on #43
Fixed in last commit

[2018-09-06 11:36] #43 closed, assigned to nobody

[2018-09-06 11:37] #35 closed, assigned to nobody

[2018-09-06 11:38] #32 closed, assigned to nobody

[2018-09-06 11:38] #31 closed, assigned to nobody

[2018-09-06 11:39] maximilienGilet commented on #30
Feature available in 3.1 version 🎉

[2018-09-06 11:39] #30 closed, assigned to nobody

[2018-09-06 11:42] maximilienGilet commented on #44
This is a great example, thanks !

The bundle is intended to be used with any entity (not only users) so this could be a nice addition in the docs for common use cases 👍

[2018-09-06 11:42] #44 closed, assigned to nobody

[2018-10-24 08:42] #14 closed, assigned to nobody

[2018-11-11 09:23] altralize opened #47 "I think this must be setMessage instead of setSubject. right?"
https://github.com/maximilienGilet/notification-bundle/blob/1dff45f2d14e38a49b08601636a4c3c73a90870c/Manager/NotificationManager.php#L609

[2018-11-15 14:55] GGGGino opened #49 "Useful commands"
Hello,

what about to create some commands to accomplish common useful actions?
For example:

`php bin/console mgilet:notification:clear_notification`
**For development purpose i had to clear notification tables several times.**

If interested I already have the code

[2018-11-15 16:34] LeandroLuccerini commented on #49
Hello,
i'm working on a `NotificationController#removeNotificationAction` maybe tomorrow i will send a PR so if you want you can first check it, i also wanted to integrate also commands like you proposed.
I was thinking of a set of commands like

1. `mgilet:notification:remove_notification` : (clear_notification in your case) deletes all the notifications and all the NotifiableNotifications
2. `mg

[2018-11-15 16:45] GGGGino commented on #49
Ok,

i agree on all the points. I'll wait @maximilienGilet response and i'll start working on it.

Thanks

[2018-11-15 20:00] maximilienGilet commented on #47
Hi ! Thanks for spotting the mistake !

[2018-11-15 20:01] #47 closed, assigned to nobody

[2018-11-15 20:04] maximilienGilet commented on #49
Hi !

This is a great idea that could be very useful !
I don't have much time so a pull request would be nice.

Thanks for the interest in this bundle 👍

[2018-12-14 10:32] PDirkx commented on #16
Thank you Maximilien for creating and sharing this bundle. Nice work.
I've checked the documentation and the demo bundle you've created, but I still do not understand how to
use the events? I do receive the events in a custom created listener, but after receiving the JSON response I would like to return to the page/controller/route. How can I do that?

Kind regards

[2018-12-17 08:11] maximilienGilet commented on #16
Hi @PDirkx thanks for using this bundle !

In order to use the events provided by the bundle, you can create an EventListener or an EventSubscriber.

Symfony documentation : https://symfony.com/doc/current/event_dispatcher.html

:)

[2019-03-05 13:27] lukepass opened #55 "Overriding entity doesn't work"
Hello,
I tried overriding the Notification entity following your guide:

[code]

Unfortunately it's not working as it tries to create the table twice:

[code]

Looking at the output it's trying to execute the query twice. This is my config:

[code]

Thanks!

[2019-03-05 13:38] maximilienGilet commented on #55
Hi @lukepass  ! Thanks for using the bundle !

At first glance it seems like your configuration has a typo : inside the `numeric_functions` node after your `rand` function, you have an `orm` which looks like a bad copy-paste.

It should work if you remove the empty `orm:` line

[2019-03-05 13:47] lukepass commented on #55
Hello @maximilienGilet and thanks for the fast response!
Unfortunately that was just a typo but the error is still the same:

[code]

Now I am using an entity called AppNotification and it seems to work but I had to change the table name:

[code]

[code]

Is this how it's supposed to work?
It's still creating the notification table (now I have notification and app_notification tables) but leaving

[2019-03-10 22:09] emulienfou commented on #55
Hi @lukepass didn't test it yet, but maybe the [Single table inheritance](https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/inheritance-mapping.html#single-table-inheritance) could fix this issue.

However, it seems this annotations need to be added in the `Notification` entity class inside the **NotificationBundle**. If this is the case and it works, you should submit a pull

[2019-03-20 16:28] kamelaBessas20 commented on #16
Hello I want to add a notification sound when a user places an order on an e-commerce application I want to know if this bundle is responding to my need, if yes have you an example.

[2019-03-20 16:38] kamelaBessas20 commented on #3
Hello, I want to do exactly what you describe in your comment, I want to add a notification sound in the admin of my site as soon as a user places an order on the site, I want to know if this bundle is made for that

Thank you so much

[2019-03-22 21:48] emulienfou commented on #55
Hi @maximilienGilet, so clearly there is an issue right here with the bundle when you are trying to override the default entities.
With the actual code, Doctrine find 2 entities with the same table name `notification` and throw an exception.

The best way should be to make do a refactoring and provide 3 models classes (`Notification`, `NotifiableEntity` and `NotifiableNotification`).

For Symfony

[2019-03-25 07:58] maximilienGilet commented on #55
Hi @emulienfou this is a great idea !

However I don't use the bundle anymore and don't have much time to make the changes...

Make me a pull request and I'll try and merge it :)

[2019-04-01 07:50] lukepass commented on #55
Unfortunately I don't use Flex or Symfony 4. I tried with the single table inheritance but it didn't work well.
For my application I solved the problem just by making another entity with a different table name (see my previous answer) and it's working quite fine. The only drawback is that there is an additional empty `notification` table.
I agree with @emulienfou solution.

[2019-04-01 20:00] emulienfou commented on #55
Hi @lukepass, I'm currently using SF4 so it would be great if you can test it on your Symfony version.

However, you will need to use my repository and add the following lines to your `composer.json`:
[code]

Updated documentation to create entities and add Doctrine resolving mapping is here: https://github.com/emulienfou/notification-bundle/blob/master/Resources/doc/index.rst#add-entity-classes-n

[2019-04-02 13:56] danielrestrepo commented on #55
Hi @emulienfou is your version overriding the entities right with SF4?

[2019-04-02 14:25] emulienfou commented on #55
Hi @danielrestrepo exactly, the updated code do not provide entities anymore, only mapped superclasses.
You will need to add 3 entities in your main project who extends the model classes, like provided by the Symfony Flex Recipe.

Do not forget to add the doctrine configuration too, with the `resolve_target_entities` entries.

[2019-04-02 20:06] danielrestrepo commented on #55
Thanks a lot @emulienfou custom mapping works now but I wanted to use the NotificationManager and I ran into a couple of issues as accessor methods are expecting the abstract class and not the interface like here: https://github.com/emulienfou/notification-bundle/blob/master/Model/NotificationInterface.php#L78

If I use there the NotifiableNotificationInterface error would go away. Am I right? Can

[2019-04-02 20:34] emulienfou commented on #55
Hi @danielrestrepo just made the changes to use the interface instead of the model class.
Let me know if there is more issues.
I will take some times to check if there is other issues too

[2019-04-02 21:00] danielrestrepo commented on #55
Thanks @emulienfou I'll update from your last commit and test again. For now the only additional thing I found is that `Notification` entity didn't persist but `NotifiableNotification`and `Notifiable` did when using this code:
[code]

Using original bundle without custom mappings was working with the same code. Not sure if it is the NotificationManager. Any ideas?

**Update**

I just needed to add

[2019-04-03 14:17] emulienfou commented on #55
Hi @danielrestrepo I apply the changes your made using interfaces in all models.
Glad you figured out and made this bundle working on your side

[2019-04-04 13:48] danielrestrepo commented on #55
Hi @emulienfou got back to your fork and is working nicely. Thanks a lot. I'll let you know if found something worth mentioning.

[2019-04-11 10:38] curtchan opened #56 "Seen at and type configs"
I couldn't find in docs or code whether it is possible (ready to use) or doesn't require a lot of extending to:
1. set type of notification (alert, info?) to distinguish notifications with icon/font color (for example).
2. set SeenAt datetime, as of now as i understand it only saves bool whether message was marked as seen or not

[2019-04-11 12:27] khaliltr opened #57 "I have difficulty to make notification system in symfony 4"
I have Difficulty to add notifications in symfony

I use this bundle https://github.com/maximilienGilet/notification-bundle

I have followed the doc, but i have encountered difficulty

THis what i have added in controller ( add annonce)
[code]
And this what i have added in twig {{ mgilet_notification_render(app.user) }}

But after adding annonce i see this error

**_Service "mgilet.notification" n

[2019-04-11 12:37] maximilienGilet commented on #56
Hi @curtchan ! Thanks for using the bundle

You can create a new entity overriding the default notification entity, as explained in the documentation :
https://github.com/maximilienGilet/notification-bundle/blob/master/Resources/doc/further.rst#override-the-notification-entity

An issue has been created if you have problems with it : #55

[2019-04-11 12:40] maximilienGilet commented on #57
Hi @khaliltr thanks for using the bundle :)

With Symfony 4 you have to specify services to use in your controller, the usage of the global container doesn't work anymore.

This might help you : https://symfony.com/doc/current/service_container.html

[2019-04-11 13:08] khaliltr commented on #57
I haven't understand, what i need to add in services.yml?

[2019-04-11 13:46] khaliltr commented on #57
Please i need help,

I have added this in controller
public function controllerFunction(Mgilet\NotificationBundle\Manager\NotificationManager $manager)
{
    $notif = $manager->createNotification('New Test');
    $notif->setMessage('Test');
    $notif->setLink('http://symfony.com/');
    $manager->addNotification(array($this->getUser()), $notif, true);

    return $this->redirectToRoute('index');

[2019-04-11 13:53] maximilienGilet commented on #57
@khaliltr Have you updated your database schema ?

[2019-04-11 13:57] khaliltr commented on #57
yes i have notifiable_entity, notifiable_notification, and notification ,

I have added this in service.yaml
[code]

and

[code]

the results : nothing in twig only the word "notifications" and nothing in database

[2019-04-11 14:32] maximilienGilet commented on #57
@khaliltr Did you add the `@Notifiable` annotation to your user entity ?

[2019-04-11 14:33] khaliltr commented on #57
yes of course i have followed the documentation

@maximilienGilet THis what i have in entity

[code]

[2019-04-11 14:42] khaliltr commented on #57
I think the probleme is in service, " . You should maybe alias this class to the existing "mgilet.notification" service."

[2019-04-11 14:52] khaliltr commented on #57
$manager->addNotification ( addNotification not work)

[2019-04-11 15:36] khaliltr commented on #57
I have added this alias in service
    Mgilet\NotificationBundle\Manager\NotificationManager: '@mgilet.notification'
Now its work

But, @maximilienGilet how to see notifications like this  GIF

https://camo.githubusercontent.com/aa3ef4e798bf4d2ac1aca1e6fa048f2ea40f6360/687474703a2f2f692e696d6775722e636f6d2f30374f634636632e676966

[2019-04-11 21:51] khaliltr commented on #16
@llaville please can you share me the code of twig? i want to see notifications like this gif
https://camo.githubusercontent.com/aa3ef4e798bf4d2ac1aca1e6fa048f2ea40f6360/687474703a2f2f692e696d6775722e636f6d2f30374f634636632e676966

[2019-04-11 22:05] khaliltr opened #58 "How to display the notifications one by one in list"
I want to see notification list one by one not all in same row by using {{ mgilet_notification_render(notifiableEntity) }}

Please i want the code twig of this view
https://camo.githubusercontent.com/aa3ef4e798bf4d2ac1aca1e6fa048f2ea40f6360/687474703a2f2f692e696d6775722e636f6d2f30374f634636632e676966

Can you share it ??

[2019-04-12 07:11] maximilienGilet commented on #57
@khaliltr this was an example of implementation, it was made in the version 1 of the bundle.

You can find the old dropdown template in the old comits of the repository :
https://github.com/maximilienGilet/notification-bundle/blob/0133431f50b65778571e67541677e695c80ab987/Resources/views/notification_dropdown.html.twig

[2019-04-12 07:11] #57 closed, assigned to nobody

[2019-04-12 12:12] khaliltr commented on #57
{% for notification in mgilet_notification_render(app.user) %} //not working

Le ven. 12 avr. 2019 à 08:11, Maximilien Gilet <notifications@github.com> a
écrit :

[2019-04-12 14:05] maximilienGilet commented on #57
@khaliltr this is a sample based on the first version of the bundle, I don't think it works anymore with the current version. But you can use it as an example to implement with the current version of the bundle

[2019-04-14 08:54] phtmgt opened #59 "Security anyone?"
So, maybe it's me and I don't get it, but how do you deal with security?

I mean, the route @Route("/{notifiable}") is kinda open to everyone. Yes, you can put /notifications behind a firewall, but once you login,  you can start opening /notifications/{notifiable} however you like.

In our case, we have a User notifiable entity and the ids are easily guessable (1,2,3, etc...), so anyone who's logg

[2019-04-14 12:57] plamenh commented on #16
I want to add a bit here. Documentation is practically non-existent besides setting up the bundle. We are now struggling for hours on how to mark notification as seen from a custom controller. Honestly, documentation is a must. Once we figure out a way, I will document and post it here, so we can save hours of work to other people.

[2019-04-15 07:08] maximilienGilet commented on #59
Hi @plamenh !

The bundle is intended to be directly usable with a minimal setup. As you said, the provided controller is totally not secured and I encourage you to override it, adding your own security system.

For the ids, I recommend you to use a Uuid system. There is a great tutorial on how to implement it in Symfony : https://medium.com/@galopintitouan/auto-increment-is-the-devil-using-uuids-

[2019-04-15 08:51] p11v commented on #59
Fair enough, I just wanted to make sure I am not missing something.

Regarding the solution - should be relatively easy in my case, as the notifiable entity is my user - just check if the notifiable entity has the same id as the user. If I get around to implementing this, I will create a tutorial. For now, though, I am sticking to an API based solution and disabling the routes.

Regarding the IDs,

[2019-04-17 14:55] MouniaAAMDI commented on #35
Hi maximilienGilet  ,
im also using your bundle, everytime i tape  {{ mgilet_notification_render(app.user) }} , the page wont refresh and gives me a server problem , can you please help ?
Thank you so much

[2019-04-17 14:59] MouniaAAMDI opened #60 "mgilet_notification_render(app.user) gives me an error"
Hi maximilienGilet ,
im also using your bundle, everytime i tape {{ mgilet_notification_render(app.user) }} , the page wont refresh and gives me a server problem , can you please help ?
Thank you so much

[2019-04-17 15:00] MouniaAAMDI commented on #58
Not the same but it will do the work
<li class="dropdown notifications-menu">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">{{ mgilet_notification_count() }}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Vous avez {{ mgilet_notification_count()

[2019-04-17 15:32] #56 closed, assigned to nobody

[2019-04-17 20:49] #58 closed, assigned to nobody

[2019-04-21 10:21] aquibbaig commented on #16
@PDirkx Are you getting this error `Unable to find template "MgiletNotificationBundle::notification_list.html.twig"` cause I am. This happens in case of `{{ mgilet_notification_render(user) }}` function

[2019-04-21 10:22] aquibbaig commented on #16
Notifications are getting stored but are not rendered by the function

[2019-05-08 15:41] rakini-yassine opened #61 "make notification as seen on clik on it"
Hi i'm getting the notification by this code
[code]

so what i need is when the current user click on one of this notification that notification  has to mark as read and redirect user to another view

what should i do

[2019-05-08 16:40] mchahed99 commented on #61
**HTML**

[code]

**JS**

[code]

Hope it helps.

[2019-05-17 14:19] aquibbaig commented on #16
Hi, I want to use this bundle for an internship but I couldn't quite understand the documentation. Can you help me with it please?

[2019-06-05 02:38] aquibbaig commented on #60
Try count function

[2019-06-05 03:11] aquibbaig commented on #55
Hello, I tried overriding the existing `Notifications` entity with a new class in my `src/Entity` as mentioned in the docs. And the table also got updated to show my latest changes.
However when I try to call upon setters and getters for the new Entity in which I added a few fields I get the following error:
[code]

**1. Here is the overridden entity**

[code]
**2. Here is doctrine.yml**

[code]

[2019-06-07 07:03] aquibbaig commented on #58
@MouniaAAMDI I can't understand anything from your comment

[2019-06-07 07:03] aquibbaig commented on #58
@khaliltr Did you find your answer cause I am stuck here too

[2019-06-07 09:05] aquibbaig commented on #57
@maximilienGilet But how to loop through the notifications rendered in the twig helper?

[2019-06-07 09:22] aquibbaig commented on #57
So, it took me some time to figure it out. You can access the variable `notificationList` in the template that you have overridden and loop through it

[2019-06-08 08:00] aquibbaig commented on #61
How do you expect to read the variable `item` in javascript? This would be available only in the for loop right?

[2019-06-08 08:15] aquibbaig opened #62 "Redirect users to a view rather than just returning JsonResponse(true)"
The route `mark_notifications_as_seen` returns a JsonResponse `true` rather than redirecting users to a new view. The functionality seems to work well, Just that a view should be rendered at the end

[2019-06-08 08:36] aquibbaig commented on #55
So, it worked because you have to create an Instance of the new overridden entity rather than creating the other entity. That fixed it for me

[2019-06-08 08:46] aquibbaig commented on #25
Does that work in `mgilet_notification_render()` cause this doesn't seem to work for me right now

[2019-06-08 08:52] mchahed99 commented on #61
Yes.

[2019-06-08 08:53] aquibbaig commented on #61
@beamop So, what's the other way around?

[2019-06-08 08:57] aquibbaig commented on #25
Fix:
[code]
Here **notification_list.html.twig** is my custom template

[2019-06-12 06:05] aquibbaig commented on #19
How to find the `notifiable entity id` from `notification` ? @nreynis

[2019-06-12 13:03] aquibbaig commented on #19
The method is `$notificationManager->getNotifiables()`

[2019-06-24 09:36] henrikj242 opened #63 "rendered notifications list contains no html"
Hi, I've added this to my nav header:  `{{ mgilet_notification_render(app.user) }}`, but there is no html in the rendered string. Not even if I use the twig `raw` filter.

So after adding the demo notification a couple of time, the rendered list looks like this:

    <nav class="collapse navbar-collapse" role="navigation">
        <p>Notifications :
            Hello world! - This a notification.

[2019-07-03 07:42] henrikj242 commented on #63
I fixed the missing html just by providing the template like this:
[code]

But the now html looks noting like the screenshot / gif in the repo's README.

Is there an easy way to just make it look like that, or do we have to implement all the styling etc ourselves?
@maximilienGilet ?

[2019-07-03 08:47] maximilienGilet commented on #63
Hi @henrikj242, thanks for using the bundle.

This template was available in the first version of the bundle, you can find it [here](https://github.com/maximilienGilet/notification-bundle/blob/8cc4e964c0cfcad8567146200999b8ceb5821985/Resources/views/notification_dropdown.html.twig)

It was removed because it depends on bootstrap and jquery.

I don't think this works with the current implementation

[2019-07-03 08:47] #63 closed, assigned to nobody

[2019-08-14 14:45] RomainCoupez opened #66 "Missing config at installation : "Unknown Entity namespace" error."
Hi everyone !
Just to let you know that with the last version of symfony (4.3.3), i had to add thoses lines of config in my doctrine.yaml for make the bundle works !
[code]

In case of someone want to use the bundle and have the "Unknown Entity namespace alias 'MgiletNotificationBundle'." error !
Thanks for your work, still really great 👍

[2019-09-17 14:28] nwafo commented on #66
merçi bcp . cette erreur ma bcp tracasser l'esprit

[2019-11-27 15:52] marcin-dorosiewicz commented on #55
Hi guys,
@aquibbaig how did you solve this problem? I have exactly the same.
How to extend NotificationManager and don't lose events and all useful things but work on extended entity?

[2019-11-27 17:24] aquibbaig commented on #55
Hi @marcin-dorosiewicz, you can follow up to **Step No 2** [here](https://github.com/maximilienGilet/notification-bundle/issues/55#issuecomment-498922481). After that in the controller use dependency injection to get the overridden notification class. Create an instance of the overridden notification class. And pass it into $manager->addNotification().

However, if it is of no use, you can post th

[2019-12-02 00:06] medkarim-rebey commented on #16
Hello,
I found a probleme in display the list notification. Maximilien can you provide us with the .html.twig

[2019-12-02 04:50] aquibbaig commented on #16
Hi, @medkarim-rebey. I have used this bundle in my GSoC project and I'm ready to help you out here. You can see an example `.html.twig` files inside your **vendor/mgilet/notification-bundle/Resources/views** directory, if you have correctly installed the bundle.

If you have any further problems, do let me know. Thanks!

[2019-12-02 07:39] medkarim-rebey commented on #16
Hi,@aquibbaig ,I'm already using html.twig .the probleme is in displaying the notification by the commande {{ mgilet_notification_render(app.user) }} .I couldn't quite understand the commande. Can you help me with it ?,Thanks

[2019-12-02 09:56] aquibbaig commented on #16
`{{ mgilet_notification_render(app.user) }}` is a Twig helper which can be used as a templating expression in your twig files. You can hop over to `vendor/mgilet/notification-bundle/Twig/NotificationExtension.php` and check the **getFunctions**  and **render** methods over there. It just does a for loop on all the notifications and renders them on a template, in this example `.html.twig` file.

[2019-12-03 09:19] AntseN opened #69 "Fix deprecation messages"
First of all thanks for this bundle.
Since symfony 5 is out, it would be great to fix the deprecation messages coming from this bundle :

**The "Mgilet\NotificationBundle\Controller\NotificationController" class extends "Symfony\Bundle\FrameworkBundle\Controller\Controller" that is deprecated since Symfony 4.2, use "Symfony\Bundle\FrameworkBundle\Controller\AbstractController" instead.**

Which sh

[2019-12-03 10:47] maximilienGilet commented on #69
Hi, thanks for the tip-off,

Unfortunately I don't use the bundle anymore, so feel free to create a pull request :)

[2019-12-10 07:11] easternmayurt opened #70 "How to use this in Symfony 4.4"
Hi @marcelglaeser @avramcosmin @emulienfou @matthieumota @Viperoo @4ssil @maximilienGilet I am new in Symfony and trying to use this notification bundle in my project but didn't get proper configurations steps for Symfony 4.4 can anyone in the group please help me. #HELP REQUIRED

[2019-12-10 14:45] easternmayurt commented on #70
![Screenshot from 2019-12-10 20-14-34](https://user-images.githubusercontent.com/39591253/70539485-ce125980-1b89-11ea-9596-d9fe21df3cd2.png)
Now I got this error, can anyone of you please help me.
I have changed in the Entity added
[code]
bind notification bundle inside services.yaml
[code]
Inside controller added following below-mentioned function
[code]
What else is missing here ?

[2019-12-10 15:27] emulienfou commented on #70
HI @easternmayurt this bundle is not yet compatible with SF4.4, it still use deprecated classes like `Twig_SimpleFunction`.
If you want to use it with SF4.4 you will have to upgrade the `TwigExtension` class and probably other classes.
Pull Request is welcomed

[2019-12-12 09:34] easternmayurt commented on #70
Thanks for the reply @emulienfou, I will trying to fix it if you can help me out, where I need to maily, because as I am new with the SF so its a bit time taken process to check everything and upgrade. I appreciate if you just let me know what are the main libraries which I need to upgrade.

[2020-01-21 05:54] #70 closed, assigned to nobody

[2020-02-03 09:47] virtualmayur opened #72 "I need to understand how to listen these events with symfony 5 listener."
I am using this notification bundle with Symfony 5, it works perfectly, but I got stuck to use the following mentioned events with Symfony 5.
These are the following events, and few of them are required for me to fetch and show details runtime at the time of event dispatch. I want to up bell count no when a notification is created or assigned. To do this there are events. I was tried to use it but

[2020-02-10 07:46] easternmayurt commented on #72
@maximilienGilet can you please help me how can I use the above mentioned events. Please help me in that.

[2020-02-10 14:24] aquibbaig commented on #72
@virtualmayur It is better if you explore the bundle's source code for your use case. I did that and it's useful.

[2020-02-25 07:02] IndyDevGuy opened #74 "NotificationManager->removeNotification() does not remove notifications from Database"
When calling NotificationManager->removeNotification() only NotifiableNotifications are removed (the linking entity) and not the notification from the database. Currently you must calle NotificationManager->deleteNotification() afterwards to delete the notification from the database. This seems very redundant because removeNotification() should remove the notification.

[2020-02-25 07:08] IndyDevGuy commented on #74
#75 fixes this issue. Waiting for merge.

[2020-05-23 01:41] jorgeale90 opened #76 "Hello"
I have this error, if you could help me

Too few arguments to function Mgilet\NotificationBundle\Twig\NotificationExtension::countNotifications(), 0 passed in D:\Datos\xampp7\htdocs\SIBHP\var\cache\dev\twig\9a\9adaa1539f219a41e1ccbdefba3dfe8d988e67b798e7dbc8adda16cf97849646.php on line 96 and exactly 1 expected

[2020-05-23 17:23] maximilienGilet commented on #76
Hi @jorgeale90

You need to pass the notifiable entity.

i.e. : to count notifications for a User, you need to pass the user object to the twig function

[2020-06-08 13:29] jbcr opened #77 "Conflict between Doctrine migration bundle and this bundle"
Hi,

In a Symfony 3.4 project, I use this bundle and  Doctrine.

When I install Doctrine Migrations bundle, the warmup command return this error:

[code]

[2020-07-02 04:43] IndyDevGuy commented on #76
Also you should try clearing your cache after you do the above comment. Looks like the error is coming from a generated cache file.

[2020-07-08 13:43] #59 closed, assigned to nobody

[2020-07-08 13:43] #74 closed, assigned to nobody

[2020-07-21 15:27] Hnini-anass opened #78 "Notifications list contains no html"
Hi, I am using this bundle, when I want to display a list of my notifications
I got
![yy](https://user-images.githubusercontent.com/68603650/88074297-1e658700-cb6f-11ea-871b-e7983fea423a.PNG)
What could cause this, and how could it be fixed?

[2020-07-27 14:01] parijke commented on #72
How did you manage to get it working with Symfony 5 I get all kinds of errors

[2020-07-27 14:10] parijke opened #79 "Upgrade / make compatible with Symfony 5.x"
I currently tried to use this bundle in a Symfony 5.1.3 but I ran into a lot of errors.

Any plans to update this to 5.x?

[2020-07-29 13:28] maximilienGilet commented on #78
Hi @Hnini-anass, if your HTML is safe you can pipe it to the `raw` twig filter

[2020-08-01 12:24] garethfoxtrot opened #80 "Problem with installed version of Twig 3.0"
I'm trying install notification bundle on Symfony 4.4 with Twig 3.0.4 but problem is following: "Argument 3 passed to Mgilet\NotificationBundle\Twig\NotificationExtension::__construct() must be an instance of Twig_Environment".

I found the solution in construct we need change "\Twig_Environment $twig" on "**\Twig\Environment $twig**", because \Twig_Environment is deprecated.

"Using the "Twig_Env

[2020-08-03 09:53] Hnini-anass commented on #78
Already tried that, but the same result, can I try something else ?

[2021-01-06 17:55] imphil commented on #78
This could be fixed by https://github.com/maximilienGilet/notification-bundle/pull/81?

[2021-01-07 08:07] maximilienGilet commented on #78
thanks for the PR @imphil, it's included in the new 4.0 release. The issue should be fixed now 👍

[2021-01-07 08:07] #78 closed, assigned to nobody

[2021-01-07 08:07] maximilienGilet commented on #80
Hi @garethfoxtrot, could you submit a PR for this change ? Thanks in advance

[2021-01-07 08:09] maximilienGilet commented on #79
Hi @parijke, I'm not using this bundle anymore so I don't know what are the errors. If someone could make a PR with changes for 5.x compatibility I would gladly accept it 👍

[2021-01-07 08:10] maximilienGilet commented on #76
Please reopen this if the issue is still not fixed

[2021-01-07 08:10] #76 closed, assigned to nobody

[2021-01-18 14:42] karim-alt commented on #3
hi @maximilienGilet , is it available now ? how to use it please ?

[2021-04-16 15:00] thinkawitch commented on #80
I've added PR here https://github.com/maximilienGilet/notification-bundle/pull/83

[2021-04-16 21:51] garethfoxtrot commented on #80
I'm so sorry, unfortunalety I forgot add PR it's was a few month ago.

pt., 16 kwi 2021 o 17:00 Andrew ***@***.***> napisał(a):

[2021-04-26 23:30] murilozilli commented on #79
This is the error message i get trying to install it

[code]

[2021-05-02 12:22] zitou54 opened #84 "Using Bundle"
Dear all,
Actually i am using your bundle but i have some problem
so first problem i can't reproduce your example or include your twig in mine!!
can you helps me plaise

[2021-06-23 14:19] jcgriebel commented on #66
Depuis la mise en place dans symfony 4.4 du pool cache pour doctrine la solution marche en mode Dev et pas en mode Prod
Je n'ai pas trouver de solution autre que supprimer dans config/packages/prod le fichier doctrine.yaml.
Si quelqu'un à une solution je suis preneur.

[2021-06-24 09:05] jcgriebel commented on #66
J'ai trouvé une solution.
dans config/packages/prod/doctrine.yaml j'ai mis.

[code]

[2021-07-26 07:30] #79 closed, assigned to nobody

[2022-03-05 22:51] MariemMeddeb opened #87 "configuration for "mgilet_notification""
I'm facing this issue while installing the bundle please help

[2022-03-05 22:53] MariemMeddeb commented on #87
In FileLoader.php line 180:

  There is no extension able to load the configuration for "mgilet_notification" (in "C:\Users\mariem\Documents\piDEV\ErrorMakers-3A45\config/pa
  ckages/mgilet_notification.yaml"). Looked for namespace "mgilet_notification", found ""framework", "sensio_framework_extra", "twig", "web_prof
  iler", "monolog", "debug", "maker", "doctrine", "doctrine_migrations", "securit